@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MontserratBold";
    src: url('./Montserrat-Bold.ttf') format('truetype');
}



* {
    padding: 0;
    margin: 0;
}

#nav-bar {
    border-top: 10px solid;
    border-image: linear-gradient(139deg, #141e30, #243b55, #4CA1AF) 3
}

#odin {
    width: 25px;
    height: 25px;
}

body {
    font-family: Montserrat, sans-serif;
    background: whitesmoke;
    display: flex;
    flex-direction: column;

}

.content {
    background: red;
}

.title-div {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

#page-bar {
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid darkgrey;

}

.page-list {
    margin: 35px;
    display: inline;
}

li {
    list-style: none;
    line-height: 1.5;
}

#main-img {
    background-image: url("https://images.ctfassets.net/o6514hijae09/4UY7wnzYbZ1QQK1cYZ7uSN/a6c811ee4f290b52a114e8039a1d9bb1/markus-spiske-Skf7HxARcoc-unsplash.jpg?w=800&h=533&q=50&fm=webp");
    height: 500px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#description {
    line-height: 1.5;
}

.main {
    margin: 50px;
}
#centre-heading {
    color: white;
    font-family: MontserratBold, sans-serif;
    font-size: 5rem;
    text-align: center;
}

#info-title {
    color: black;
    font-family: MontserratBold, sans-serif;
    font-size: 22px;
    text-align: center;
}

#centre {
    max-width: 48rem;
    color: white;
    text-align: center;
}

#centre p {
    margin: 20px;
}

#book {
    border: none;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;

    border-bottom: 1px solid darkgrey;
}

.info-item {
    margin: 20px;
}

#info-description {
    line-height: 1.5;
    text-align: center;
}

#info-content {
    max-width: 35rem;
}

footer {
    display: flex;
    justify-content: center;
}

#footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    max-width: 52rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}

#github-logo {
    margin-top: 25px;
    height: 50px;
    width: 50px;
}